@model website_emp.Models.Employe
@{
    ViewBag.Title = "Profile";
}
@functions {
    public string GetString(string value)
    {
        if (String.IsNullOrEmpty(value)) return "";
        return value;
    }
    public string GetImage(string value)
    {
        if (String.IsNullOrEmpty(value)) return "";
        return Url.Content("~/Images/Profile/"+value);
        //return "~/Images/Profile/" + value + ".jpg";
    }
}
<link href="~/CustomCSS/userfpofile_css.css" rel="stylesheet" />
<link href="~/Content/fontawesome-all.min.css" rel="stylesheet" />
<div class="Big-Box mt-3">
    <!--Main row start-->
    <div class="row  flex-column-reverse flex-xl-row">
        <div class="col-12 col-md-12 col-xl-9">
            <h3 class="d-flex text-justify justify-content-center justify-content-sm-start m-3">Edit Profile</h3>
            <div class="row m-1">
                <div class="col-12 col-md-4 col-xl-4 ">
                    <label class="mb-0 mt-3">Department</label>
                    <label type="text" class="form-control shadow">@Model.department.DepartmentName</label>
                </div>
                <div class="col-12 col-md-4 col-xl-4">
                    <label class="mb-0 mt-3">Username</label>
                    <label type="text" class="form-control shadow">@Model.UserName</label>
                </div>
                <div class="col-12 col-md-4 col-xl-4">
                    <label class="mb-0 mt-3">Email</label>
                        <label type="text" class="form-control shadow">@GetString( Model.Email)</label>
                    
                </div>
            </div>
            <!--******************************-->
            <div class="row m-1">
                <div class="col-12 col-md-6 col-xl-6">
                    <label class="mb-0 mt-3">First Name</label>
                    <label type="text" class="form-control shadow">@Model.FirstName</label>
                </div>
                <div class="col-12 col-md-6 col-xl-6">
                    <label class="mb-0 mt-3">Last Name</label>
                        <label type="text" class="form-control shadow">@GetString( Model.LastName)</label>
                </div>
            </div>
            <!--******************************-->
            <div class="row m-1">
                <div class="col-12  col-xl-12">
                    <label class="mb-0 mt-3">Address</label>
                        <label type="text" class="form-control shadow">@GetString( Model.Address)</label>
                </div>
            </div>
            <!--******************************-->
            <div class="row m-1">
                <div class="col-12 col-md-4 col-xl-4">
                    <label class="mb-0 mt-3">Education</label>
                        <label type="text" class="form-control shadow">@GetString( Model.Education)</label>
                </div>
                <div class="col-12 col-md-4 col-xl-4">
                    <label class="mb-0 mt-3">Country</label>
                    <label type="text" class="form-control shadow">@Model.Country</label>
                </div>
                <div class="col-12 col-md-4 col-xl-4">
                    <label class="mb-0 mt-3">City</label>
                    <label type="text" class="form-control shadow">@Model.City</label>
                </div>
            </div>
            <!--******************************-->
            <div class="row no-gutters m-3">
                <div class="col-12  col-xl-12">
                    <label class="mb-0 mt-3">About Me</label>
                    <textarea disabled class="form-control  mb-5 shadow  txa-edit">@Model.AboutMe</textarea>
                </div>
            </div>
            <!--******************************-->
        </div>
        <div class="col-12 col-xl-3  text-center">
            <div class="Big-Box" style="padding-top:30px;">
                <figure class="rounded-circle" style="background:black;width:170px;height:170px;margin:auto;overflow:hidden;">
                    <img src="@GetImage(Model.Picture)" class="img-fluid" style="width:100%;height:100%;" />
                </figure>
                @*<i class="fas fa-user admin-image"></i>*@

                <div class="mt-4">
                    @*<button type="button" class="text-white bg-info btn shadow-none">upload</button>*@
                    <h6 class="mt-4">@Model.FirstName @GetString(Model.LastName)</h6>
                    <p>Employee Management system hello every one me zumaid say you hi !</p>
                </div>
            </div>
        </div>
    </div>
    <!--Main Row end-->
</div>