@model website_emp.Models.Increment

@{
    ViewBag.Title = "AddIncrement";
}

<input type="hidden" id="GetActiveTab" value="#ManageIncrement" />
<link href="~/customcss/Salary Module Css/increment.css" rel="stylesheet" />
<div class="Big-Box mt-3">
    <div class="row m-3">
        <div class="col-12 d-flex justify-content-center justify-content-sm-center justify-content-lg-start mt-2">
            <h5>Add Increment</h5>
        </div>
    </div>
    @using (Html.BeginForm()){ 
    <div class="row m-3">
        <div class="col-12 col-md-6 col-xl-6">
            <p>Employee Name</p>
            @Html.DropDownList("EmployeId",ViewData["employeid"] as SelectList,new { @class= "form-control shadow" })
        </div>
        <div class="col-12 col-md-6 col-xl-6">
            <p>Select Month</p>
            @Html.EditorFor(model=>model.IncrementedOn,new { htmlAttribute = new {@class= "date form-control shadow" } })
        </div>
    </div>
    <div class="row m-3">
        <div class="col-12 col-md-6 col-xl-6">
            <p>Increment Amount</p>
            @Html.EditorFor(model => model.Amount, new { htmlAttribute = new { @class = "form-control shadow" } })
        </div>
        <div class="col-12 col-md-12 col-xl-6">
            <p>Increment Description</p>
            @Html.TextAreaFor(model => model.IncrementDescription,  new { @class = "date form-control shadow" })
        </div>
    </div>
    <div class="row m-3">
        <div class="col-12  col-xl-6">
           
        </div>
        <div class="col-12 col-md-6 col-xl-3 mb-3">
            <button type="submit" class="bg-primary text-white form-control shadow">Add Increment</button>
        </div>
        <div class="col-12 col-md-6 col-xl-3 mb-3">
          @Html.ActionLink("Cancal", "ManageIncrement", null, new { @class = "text-decoration-none text-white form-control shadow text-center btn btn-danger" })
        </div>
    </div>
    }
</div>