@model website_emp.Models.Deduction
@{
    ViewBag.Title = "EditDeduction";
}

<input type="hidden" id="GetActiveTab" value="#ManageDeduction" />
<link href="~/customcss/Salary Module Css/Deduction.css" rel="stylesheet" />
<div class="Big-Box mt-3">
    <div class="row m-3">
        <div class="col-12 d-flex justify-content-center justify-content-sm-center justify-content-lg-start mt-2">
            <h5>Edit Deduction</h5>
        </div>
    </div>
    @using (Html.BeginForm()) { 
    <div class="row m-3">
        <div class="col-12 col-md-6 col-xl-6">
            <p>Employee Name</p>
            <p>@Html.DisplayFor(model=>model.employe.FirstName)</p>
        </div>
        <div class="col-12 col-md-6 col-xl-6">
            <p>Deduction Name</p>
            @Html.EditorFor(model=>model.ComName,new { htmlAttributes = new { @class= "form-control shadow" } })
        </div>
    </div>
    <div class="row m-3">
        <div class="col-12 col-md-6 col-xl-6">
            <p>Deduction Month</p>
            @Html.EditorFor(model => model.ForMonth, new { htmlAttributes = new { @class = "form-control shadow" } })
        </div>
        <div class="col-12 col-md-6 col-xl-6">
            <p>Deduction Amount</p>
            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control shadow" } })
        </div>
    </div>
    <div class="row m-3">
        <div class="col-12 col-md-6 col-xl-6">
            @*<p>Deduction Description</p>
            <textarea class="form-control shadow txtarea"></textarea>*@
        </div>
        <div class="col-12 col-md-3 col-xl-3 mt-xl-5 mt-md-5 mt-2 ">
            <button type="submit" class="bg-info text-white form-control shadow">Update Deduction</button>
        </div>
        <div class="col-12 col-md-3 col-xl-3 mt-xl-5 mt-md-5 mt-2">
            <button type="submit" class="bg-danger text-white form-control shadow">@Html.ActionLink("Cancal", "ManageDeduction", null, new { @class = "text-decoration-none text-white" })</button>
        </div>
    </div>
    }
</div>