@model website_emp.Models.Increment
@{
    ViewBag.Title = "EditIncrement";
}

<input type="hidden" id="GetActiveTab" value="#ManageIncrement" />
<link href="~/customcss/Salary Module Css/increment.css" rel="stylesheet" />
<div class="Big-Box mt-3">
    <div class="row m-3">
        <div class="col-12 d-flex justify-content-center justify-content-sm-center justify-content-lg-start mt-2">
            <h5>Edit Increment</h5>
        </div>
    </div>
    @using (Html.BeginForm())
    {
        <input type="hidden" value="@Model.IncreamentId" name="IncrementId" />
    <div class="row m-3">
        <div class="col-12 col-md-6 col-xl-6">
            <p>Employee Name</p>
            <label class="form-control">  @Html.DisplayFor(model => model.employe.FirstName) @Html.DisplayFor(model => model.employe.LastName) </label>
        </div>
    </div>
    <div class="row m-3">
        <div class="col-12 col-md-6 col-xl-6">
            <p>Increment Date</p>
            @Html.EditorFor(model => model.IncrementedOn, new { htmlAttribute = new { @class = "date form-control shadow" } })
        </div>
        <div class="col-12 col-md-6 col-xl-6">
            <p>Increment Amount</p>
            @Html.EditorFor(model => model.Amount, new { htmlAttribute = new { @class = "date form-control shadow" } })
        </div>
    </div>
    <div class="row m-3">
        <div class="col-12 col-md-12 col-xl-6 mb-3">
            <p>Increment Purpose</p>
            @Html.EditorFor(model => model.IncrementDescription, new { @class = "date form-control shadow" })
        </div>
        <div class="col-12 col-md-6 col-xl-3 mb-3">
            <button type="submit" class="bg-primary text-white form-control shadow">Update Increment</button>
        </div>
        <div class="col-12 col-md-6 col-xl-3 mb-3">
         @Html.ActionLink("Cancal", "ManageIncrement", null, new { @class = "text-decoration-none text-white form-control shadow text-center btn btn-danger" })
        </div>
    </div>}
</div>