@model Pagination<website_emp.Models.Invoice>
@{
    ViewBag.Title = "EmployeeSalaries";
    int rowcount = 1 + ((Model.PageNumber - 1) * 10);
}
<link href="~/CustomCSS/Salary Module Css/list of employees and their salaries.css" rel="stylesheet" />
<input type="hidden" id="GetActiveTab" value="#EmployeeSalaries" />


<div class="Big-Box mt-3">
    <div class="bg-white">
        <div class="col-12  d-flex text-justify justify-content-center justify-content-sm-center justify-content-lg-start mt-3">
            <h4>Salary History</h4>
        </div>
        <form action="@Url.Action("EmployeeSalaries","SalaryManagement")" method="get" autocomplete="off">
        <div class="row m-3">
            <div class="col-12 col-md-6 col-xl-6">
                <label class="mt-0 mb-0">Select Date</label>
                <input type="text" name="search" value="@ViewData["search"]" class="shadow date  form-control">
                </div>
            <div class="col-12 col-md-5 col-xl-5 mt-xl-4 mt-md-4 mt-3">
                <button type="submit" class="form-control shadow bg-primary text-white">Search</button>
            </div>
        </div>
        </form>
        <div class="tbl-div">
            <table class="table table-striped tbl">
                <tr class="text-white">
                    <th>#</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Employe Salary</th>
                    <th class="pl-5">Action</th>
                </tr>
                @foreach (var item  in Model)
            {
                    <tr>
                      <td>@rowcount</td>
                        <td>@item.employe.FirstName</td>
                        <td>@item.ForMonth.Value.ToShortDateString()</td>
                        <td>@item.Salary</td>
                      
                        <td>@Html.ActionLink("Details", "EmployeeSalaryDetails",new { invoiceid = item.InvoiceId}, new { @class = "text-decoration-none text-white btn btn-primary form-control" })</td>
                        
                    </tr>
                    rowcount++;
                }
            </table>
        </div>
        <div class="row no-gutters w-100">
            <div class="col-12 col-md-6 d-flex align-items-center justify-content-center justify-content-md-start pl-0 pl-md-2">
                <p class="text-justify">
                    page <span id="start-number">@Model.PageNumber</span>&nbsp;of <span id="total-pages">@Model.TotalPages</span>
                </p>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end align-items-center pr-0 pr-md-2">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        @if (!Model.HasPrevious)
                        {
                            <li class="page-item disabled"><a class="page-link disabled" href="#">Previous</a></li>
                        }
                        else
                        {
                            <li class="page-item "><a class="page-link" href="@Url.Action("EmployeeSalaries", "SalaryManagement", new { search = ViewData["search"], pagenumber = Model.PageNumber - 1 })">Previous</a></li>
                        }
                        @{
                            int i = 1;
                            if (Model.PageNumber - 2 > 1)
                            {
                                i = Model.PageNumber - 2;
                            }
                            for (; i <= (Model.PageNumber + 2) && i <= Model.TotalPages; i++)
                            {
                                <li class="page-item"><a class="page-link" href="@Url.Action("EmployeeSalaries", "SalaryManagement",new { search =ViewData["search"],pagenumber=i})">@i</a></li>
                            }
                        }

                        @*<li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>*@
                        @if (!Model.HasNext)
                        {
                            <li class="page-item disabled"><a class="page-link disabled" href="@Url.Action("EmployeeSalaries", "SalaryManagement",new { search =ViewData["search"],pagenumber=ViewData["pagenumber"]})">Next</a></li>
                        }
                        else
                        {
                            <li class="page-item "><a class="page-link" href="@Url.Action("EmployeeSalaries", "SalaryManagement",new { search =ViewData["search"],pagenumber=Model.PageNumber+1})">Next</a></li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
