@model Pagination<website_emp.Models.ViewModels.EmployeSalaryDepartmentViewModel>
@{
    ViewBag.Title = "EmployeeSalaries";
    int rowcount = 1 + ((Model.PageNumber - 1) * 10);
}
<link href="~/CustomCSS/Salary Module Css/list of employees and their salaries.css" rel="stylesheet" />
<input type="hidden" id="GetActiveTab" value="#EmployeeSalaries" />


<div class="Big-Box mt-3">
    <div class="bg-white">
        <h4 class="pl-3 pt-3">List of Employees and their Salaries</h4>
        <div class="row m-3 no-gutters">
            <form autocomplete="off" action="@Url.Action("EmployeeSalaries","SalaryManagement")">
                <div class="col-12  d-flex text-justify  justify-content-center justify-content-center">
                    <p class="d-inline mb-0 pt-2">Search</p>
                </div>
                <div class="col-12 d-flex text-justify  justify-content-center justify-content-sm-end  input-group">
                    <input type="text" name="search" value="@ViewData["search"]" class="shadow  form-control">
                    @*<div class="input-group-append shadow"><span class="input-group-text fas fa-search d-flex"></span></div>*@
                    <button type="submit" class="input-group-append shadow fas fa-search"></button>
                </div>
            </form>
        </div>
        <div class="tbl-div">
            <table class="table table-bordered table-striped tbl">
                <tr class="text-white">
                    <th>Emp Id</th>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>Department</th>
                    <th>Payroll Template</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@rowcount</td>
                        <td>@item.employe.FirstName</td>
                        <td>@item.designation.DesignationName</td>
                        <td>@item.employe.department.DepartmentName</td>
                        <td>@item.employe.salarytemplate.Payroll</td>
                    </tr>
                    rowcount++;
                }
                @*@for (var i = 201; i <= 220; i++)
            {
                    <tr>
                      <td>@i</td>
                        <td>Zumaid khan khattak</td>
                        <td>Web Developer</td>
                        <td>It</td>
                        <td>Rs:37000</td>
                        <td>
                            <button type="submit" class="bg-info text-white shadow border-0"><i class="fas fa-edit"></i> Edit</button>
                            <button type="submit" class="bg-danger text-white shadow border-0"><i class="fas fa-trash-alt"></i> Delete</button>
                        </td>
                    </tr>
                }*@
            </table>
        </div>
        <div class="row no-gutters w-100">
            <div class="col-12 col-md-6 d-flex align-items-center justify-content-center justify-content-md-start pl-0 pl-md-2">
                <p class="text-justify">
                    page <span id="start-number">@Model.PageNumber</span>&nbsp;of <span id="total-pages">@Model.TotalPages</span>
                </p>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end align-items-center pr-0 pr-md-2">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        @if (!Model.HasPrevious)
                        {
                            <li class="page-item disabled"><a class="page-link disabled" href="#">Previous</a></li>
                        }
                        else
                        {
                            <li class="page-item "><a class="page-link" href="#">Previous</a></li>
                        }
                        @{
                            int i = 1;
                            if (Model.PageNumber - 2 > 1)
                            {
                                i = Model.PageNumber - 2;
                            }
                            for (; i <= (Model.PageNumber + 2) && i <= Model.TotalPages; i++)
                            {
                                <li class="page-item"><a class="page-link" href="#">@i</a></li>
                            }
                        }

                        @*<li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>*@
                        @if (!Model.HasNext)
                        {
                            <li class="page-item disabled"><a class="page-link disabled" href="#">Next</a></li>
                        }
                        else
                        {
                            <li class="page-item "><a class="page-link" href="#">Next</a></li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
