@model Pagination<website_emp.Models.LoanInstallment>
@{
    ViewBag.Title = "MyLoanDetail";
    int rowcount = 1 + ((Model.PageNumber - 1) * 10);
}

<div class="row no-gutters w-100 pt-3 bg-white">
    <table class="table">
        <thead class="bg-info text-light">
            <tr class="row w-100 no-gutters">
                <th class="col-1 p-1">#</th>
                <th class="col-3 p-1">Name</th>
                <th class="col-3 p-1">Title</th>
                <th class="col-2 p-1">Paid On</th>
                <th class="col-1 p-1">Amount</th>
                <th class="col-2 p-1">Status</th>
            </tr>
        </thead>
        <tbody class="bg-white">
            @if (Model.Count <= 0)
            {
                <tr class="bg-white row w-100 no-gutters shadow">
                    <td class="col-12 p-1 text-danger text-center">No Recoreds</td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr class="row w-100 no-gutters shadow">
                        <td class="col-1 p-1">@rowcount</td>
                        <td class="col-3 p-1">@item.loan.employe.FirstName</td>
                        <td class="col-3 p-1">@item.loan.LaonTitle</td>
                        <td class="col-2 p-1">@item.PaidOn.Value.ToShortDateString()</td>
                        <td class="col-1 p-1">@item.Amount</td>
                        @if (item.IsPaid==true){
                        <td class="col-2 p-1"><label class="btn btn-success">Paid</label></td>
                        }else{
                        <td class="col-2 p-1"><label class="btn btn-danger">Not Paid</label></td>
                        }
                    </tr>
                    rowcount++;
                }
            }
        </tbody>
    </table>
</div>
<div class="row no-gutters w-100 bg-white">
    <div class="col-12 col-md-6 d-flex align-items-center justify-content-center justify-content-md-start pl-0 pl-md-2">
        <p class="text-justify">
            page <span id="start-number">@Model.PageNumber</span>&nbsp;of <span id="total-pages">@Model.TotalPages</span>
        </p>
    </div>
    <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end align-items-center pr-0 pr-md-2">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @if (!Model.HasPrevious)
                {
                    <li class="page-item disabled"><a class="page-link disabled" href="#">Previous</a></li>
                }
                else
                {
                    <li class="page-item "><a class="page-link" href="@Url.Action("MyLoanDetail","SalaryManagement", new {LoanId = ViewData["loanid"], pagenumber = Model.PageNumber - 1 })">Previous</a></li>
                }
                @{
                    int i = 1;
                    if (Model.PageNumber - 2 > 1)
                    {
                        i = Model.PageNumber - 2;
                    }
                    for (; i <= (Model.PageNumber + 2) && i <= Model.TotalPages; i++)
                    {
                        <li class="page-item"><a class="page-link" href="@Url.Action("MyLoanDetail","SalaryManagement",new {LoanId = ViewData["loanid"],pagenumber=i})">@i</a></li>
                    }
                }

                @*<li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>*@
                @if (!Model.HasNext)
                {
                    <li class="page-item disabled"><a class="page-link disabled" href="@Url.Action("MyLoanDetail","SalaryManagement",new {LoanId = ViewData["loanid"], pagenumber=ViewData["pagenumber"]})">Next</a></li>
                }
                else
                {
                    <li class="page-item "><a class="page-link" href="@Url.Action("MyLoanDetail","SalaryManagement",new {LoanId = ViewData["loanid"], pagenumber=Model.PageNumber+1})">Next</a></li>
                }
            </ul>
        </nav>
    </div>
</div>



