@model IEnumerable<website_emp.Models.SalaryTemplate>
@{
    ViewBag.Title = "TemplateList";
    int rowcount = 1;
}
<link href="~/CustomCSS/Salary Module Css/payroll template list.css" rel="stylesheet" />
<input type="hidden" id="GetActiveTab" value="#TemplateList" />
<div class="Big-Box mt-3">
    <!--                <div class="row mt-3">
                <div class="col-12 col-xl-6 col-md-6 d-flex text-justify justify-content-center justify-content-sm-start">
                    <h4>Payroll management</h4>
                </div>

                <div class="col-12 col-xl-6 col-md-6 d-flex text-justify justify-content-center justify-content-sm-end">
                  <p class="">Payroll > Payroll Tempalate</p>
                </div>
            </div>-->
    <!--<hr class="mt-0 mb-0 hr1">-->
    <div class="bg-white mt-0">
        <div class="row no-gutters">
            <ul class="nav nav-tabs mt-2 w-100">
                <li class="nav-item"><button type="submit" class="nav-link border-white shadow">@Html.ActionLink("Payroll List", "TemplateList",null,new {@class= "text-black text-decoration-none font-weight-bold" })</button></li>
                <li class="nav-item"><button type="submit" class="nav-link border-white shadow">@Html.ActionLink("Add New Template", "AddTemplate", null, new { @class = "text-black text-decoration-none font-weight-bold" })</button></li>
            </ul>
        </div>
        <div class="row m-3 no-gutters">
            <div class="col-12 col-md-4 col-xl-5 d-flex text-justify justify-content-sm-center justify-content-center"></div>
                @*display none due to some changes by zumaid
            <div class="col-12 col-md-4 col-xl-6 d-flex text-justify justify-content-sm-center justify-content-center">
                <select class="shadow select-pages">
                    <option>10</option>
                    <option>25</option>
                    <option>50</option>
                    <option>100</option>
                </select>
                <p class="d-inline ml-3">Records per page</p>
            </div>*@
                <div class="col-12 col-md-2 col-xl-1  d-flex text-justify  justify-content-center justify-content-center">
                </div>
                <div class="col-12 col-md-2 col-xl-1  d-flex text-justify  justify-content-center justify-content-center">
                    <p class="d-inline mb-0 pt-2">Search</p>
                </div>
                <div class="col-12  col-md-4 col-xl-4 d-flex text-justify  justify-content-center justify-content-sm-end  input-group">
                    <input type="text" class="shadow  form-control" placeholder="Search By Template Name">
                    @*<div class="input-group-append shadow"><span class="input-group-text fas fa-search d-flex"></span></div>*@
                    <button type="submit" class="input-group-append shadow fas fa-search">  Search</button>
                </div>
            </div>
        <div class="tbl-div bg-white mt-2">
            <table class="table-bordered table table-striped  tbl">
                <tr class="bg-info text-white">
                    <th>#</th>
                    <th>Template Name</th>
                    <th>Payroll Tempalte</th>
                    <th>Absenties % Deduction</th>
                    <th class="pl-5">Action</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@rowcount</td>
                        <td>@item.TemplateName</td>
                        <td>@item.Payroll</td>
                        <td>@item.AbsentiesPercentage</td>
                        <td>
                            @*<button type="submit" class="bg-info text-white shadow border-0"><i class="fas fa-edit"></i> Edit</button>*@
                            <a class="bg-danger text-white shadow border-0" href="@Url.Action("DeleteTemplate","SalaryManagement",new { templateid=item.SalaryTemplateId })"><i class="fas fa-trash-alt"></i> Delete</a>
                        </td>
                    </tr>
                    rowcount++;
                }

            </table>
        </div>
        <div class="row mt-5 no-gutters pb-4">
            <div class="col-12  col-md-6 col-xl-5 d-flex text-justify justify-content-sm-center justify-content-center justify-content-xl-start ml-xl-3">
                <p class="ml-2 d-inline">Showing 1 to 10 of 10 entries</p>
            </div>
            <div class="col-12 col-md-6  col-xl-6 d-flex text-justify  justify-content-sm-center justify-content-xl-end justify-content-center pagination ">
                <button type="submit">Previous</button>
                <button type="submit">1</button>
                <button type="submit">2</button>
                <button type="submit">3</button>
                <button type="submit">Next</button>
            </div>
        </div>
    </div>
</div>

