@model IEnumerable<website_emp.Models.Project>
@{
    ViewBag.Title = "Project";
    int rowcount = 1;
}

<main>
   <div class="row no-gutters w-100 align-content-center p-2 border-bottom">
       <div class="col-11 d-flex align-self-center">
           <h5 class="m-0 p-0">Project</h5>
       </div>
       <div class="col-1">
           <a class="btn btn-primary" href="@Url.Action("AddProject","Project")">Add</a>
       </div>
   </div>
    <div class="row no-gutters w-100 bg-light">
        <div class="col-12">
            <div class="row no-gutters w-100 flex-nowrap bg-primary text-light font-weight-bold p-2">
                <div class="col-1">#</div>
                <div class="col-3">Project</div>
                <div class="col-3">Start Date</div>
                <div class="col-3">End date</div>
                <div class="col-2 text-center">Action</div>
            </div>
            <table class="w-100">
                @foreach (var item in Model)
                {
                    <tr class="row w-100 px-2 py-1 no-gutters bg-light">
                        <td class="col-1">@rowcount</td>
                        <td class="col-3"><a href="@Url.Action("ProjectDetail","Project",new { projectid =item.ProjectId})">@item.ProjectTitle</a></td>
                        <td class="col-3">@item.StartDate</td>
                        <td class="col-3">@item.EndDate</td>
                        @if (User.IsInRole("Admin"))
                        {
                            <td class="col-2 text-center"><a href="">Edit</a> <a href="">Delete</a></td>
                        }
                        else
                        {
                            <td class="col-2 text-center">No Action</td>
                        }
                    </tr>
                    rowcount++;
                }
                   
                @*<script>
                    for (let i = 0 ; i < 10 ; i++) {
                        document.write(`<tr class="row w-100 px-2 py-1 no-gutters bg-light">
                        <td class="col-1">${i+1}</td>
                        <td class="col-3"><a href="">Project Name</a></td>
                        <td class="col-3"><a href="">Startdate</a></td>
                        <td class="col-3"><a href="">End date</a></td>
                        <td class="col-2 text-center"><a href="">Edit</a> <a href="">Delete</a></td>
                    </tr>`);
                    }

               </script>*@
                
                
            </table>
            <div class="footer">
                <div class="row no-gutters w-100">
                    <div class="col-12 col-md-6 d-flex align-items-center justify-content-center justify-content-md-start pl-0 pl-md-2">
                        <p class="text-justify">
                            page <span id="start-number">1</span>&nbsp;of <span id="total-pages">10</span>
                        </p>
                    </div>
                    <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end pr-0 pr-md-2">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</main>
