@model website_emp.Models.ViewModels.ProjectTaskViewModel
@{
    ViewBag.Title = "ProjectDetail";
    int rowcount = 1 + ((Model.tasks.PageNumber - 1) * 10);
}

<main>
    <div class="row no-gutters w-100 align-content-center p-2 border-bottom">
        <div class="col-9 d-flex align-self-center">
            <h5 class="m-0 p-0">Project</h5>
        </div>
        <div class="col-3 d-flex justify-content-end">
            @if (User.IsInRole("Admin"))
            {
                <a class="btn btn-primary shadow-none rounded-0" href="@Url.Action("AddTask","Task")">Add Task</a>
            }
            
        </div>
    </div>
    <div class="row no-gutters w-100 bg-white p-2 shadow flex-column-reverse flex-md-row">
        <div class="col-12 col-md-9">
            <fieldset>
                <div class="row">
                    <div class="col-6">
                        <h5>Department : </h5><span>@Model.project.department.DepartmentName</span>
                    </div>
                    <div class="col-6">
                        <h5>Project : </h5><span>@Model.project.ProjectTitle</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h5>Created by : </h5><span>@ViewData["CreatedBy"]</span>&nbsp;&nbsp; @if (User.IsInRole("Admin"))
                        {<a class="btn btn-primary rounded-0 shadow-none" href="#">View</a>}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h5>Detail :</h5>
                        <p>@Model.project.ProjectDescription</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h5>Start Date: </h5><span>@Model.project.StartDate.ToShortDateString()</span>
                    </div>
                    <div class="col-6">
                       @* <h5>End Date: </h5><span>@Model.EndDate.Value</span>*@
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-12 col-md-3">
            <div class="row w-100 no-gutters">
                <div class="col-12 d-flex justify-content-center py-2">
                    <button class="btn btn-primary rounded-0 shadow-none w-50">Back</button>
                </div>
                @if (User.IsInRole("Admin"))
                {
                <div class="col-12 d-flex justify-content-center py-2">
                    <a href="" class="btn btn-primary rounded-0 shadow-none w-50">Edit</a>
                </div>
                <div class="col-12 d-flex justify-content-center py-2">
                    <button class="btn btn-primary rounded-0 shadow-none w-50">Delete</button>
                </div>}
            </div>
        </div>
    </div>
    @if (User.IsInRole("Admin"))
    {
        <form action="@Url.Action("ProjectDetail","Project")">
            <div class="row w-100 no-gutters search-panel bg-light py-2 pl-2">
                <div class="col-3 pr-1">
                    <input class="form-control rounded-0 shadow-none" value="@ViewData["search"]" name="search" />
                </div>
                <div class="col-3">
                    <button class="btn btn-primary rounded-0 shadow-none">Search</button>
                </div>
            </div>
        </form>
    <div class="row no-gutters w-100 bg-light">
        <div class="col-12">
            <div class="row no-gutters w-100 flex-nowrap bg-primary text-light font-weight-bold p-2">
                <div class="col-1">#</div>
                <div class="col-9">Task Name</div>
                <div class="col-2 text-center">Action</div>
            </div>
            <table class="w-100">
            @if (Model.tasks.Count() > 0)
            {
                foreach (var item in Model.tasks)
                {
                    <tr class="row w-100 px-2 py-1 no-gutters bg-white shadow">
                        <td class="col-1">@rowcount</td>
                        <td class="col-9">@item.TaskTitle</td>
                        @if (User.IsInRole("Admin"))
                        {
                            <td class="col-2 text-center">
                        <a class="btn btn-warning rounded-0 shadow-none" href="@Url.Action("EditTask","Task",new { taskid = item.TaskId})">Edit</a>
                         <a class="btn btn-danger rounded-0 shadow-none" href="@Url.Action("DeleteTask","Task",new { taskid = item.TaskId})">Delete</a> 
                            </td>
                        }
                        else
                        {
                            <td class="col-2 text-center">No Action </td>
                        }

                    </tr>
                    rowcount++;
                }
            }
            else
            {
                <tr class="row w-100 px-2 py-1 no-gutters bg-white shadow">
                    <td class="col-12 text-center">
                        No Task Are Available for this Project
                    </td>
                </tr>
            }

                @*<script>
                        for (let i = 0 ; i < 10 ; i++) {
                            document.write(`<tr class="row w-100 px-2 py-1 no-gutters bg-light">
                        <td class="col-1">${i+1}</td>
                        <td class="col-9">Project Name</td>
                        <td class="col-2 text-center">Edit Delete</td>
                    </tr>`);
                        }

                    </script>*@


            </table>
            <div class="footer pt-2">
                <div class="row no-gutters w-100">
                    <div class="col-12 col-md-6 d-flex align-items-center justify-content-center justify-content-md-start pl-0 pl-md-2">
                        <p class="text-justify">
                            page <span id="start-number">@Model.tasks.PageNumber</span>&nbsp;of <span id="total-pages">@Model.tasks.TotalPages</span>
                        </p>
                    </div>
                    <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end align-items-center pr-0 pr-md-2">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                @if (!Model.tasks.HasPrevious)
                                {
                                    <li class="page-item disabled"><a class="page-link disabled" href="#">Previous</a></li>
                                }
                                else
                                {
                                    <li class="page-item "><a class="page-link" href="@Url.Action("ProjectDetail", "Project", new { search = ViewData["search"], pagenumber = Model.tasks.PageNumber - 1 })">Previous</a></li>
                                }
                                @{
                                    int i = 1;
                                    if (Model.tasks.PageNumber - 2 > 1)
                                    {
                                        i = Model.tasks.PageNumber - 2;
                                    }
                                    for (; i <= (Model.tasks.PageNumber + 2) && i <= Model.tasks.TotalPages; i++)
                                    {
                                        <li class="page-item"><a class="page-link" href="@Url.Action("ProjectDetail","Project",new { search =ViewData["search"],pagenumber=i})">@i</a></li>
                                    }
                                }

                                @*<li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>*@
                                @if (!Model.tasks.HasNext)
                                {
                                    <li class="page-item disabled"><a class="page-link disabled" href="@Url.Action("ProjectDetail","Project",new { search =ViewData["search"],pagenumber=ViewData["pagenumber"]})">Next</a></li>
                                }
                                else
                                {
                                    <li class="page-item "><a class="page-link" href="@Url.Action("ProjectDetail","Project",new { search =ViewData["search"],pagenumber=Model.tasks.PageNumber+1})">Next</a></li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div> }
</main>

