@model IEnumerable<website_emp.Models.ViewModels.EmployeAttendanceViewModel>
@{
    ViewBag.Title = "MarkAttendance";
    int rowcount = 0;
}
@functions {
    public string getNullorString(string value)
    {
        return (String.IsNullOrEmpty(value)) ? "" : value;
    }
        }
<link href="~/CustomCSS/table.css" rel="stylesheet" />
<link href="~/CustomCSS/BigBoxCSS.css" rel="stylesheet" />
<input type="hidden" id="GetActiveTab" value="#MarkAttendance" />
<div class="Big-Box mt-3">
    <div class="row">
        <div class="col-12 col-xl-6 col-md-6 d-flex text-justify justify-content-center justify-content-sm-center">
        </div>
        <div class="col-12 col-xl-6 col-md-6 d-flex text-justify justify-content-center justify-content-sm-center">
          
            <span class="font-weight-bold">@ViewData["total"]</span>
        </div>
    </div>
    <form action="@Url.Action("MarkAttendance","Attendance")">
        <div class="row m-3">

            <div class="col-lg-4 col-sm-12">
              
                @Html.DropDownList("departmentid", ViewBag.departments as SelectList, "Select department", new { @class = "form-control shadow" })
            </div>
            <div class="col-lg-4 col-sm-12 ">
                <input type="search" placeholder="Employee Name" value="@ViewData["search"]" name="search" class="shadow  form-control">
            </div>
            <div class="col-lg-4 col-sm-12">
                <button class="btn shadow rounded btn-primary form-control mb-3">Search</button>
            </div>

        </div>
    </form>
    </div>
    <div class="Big-Box">
        <div class="tbl-div">
            <form action="@Url.Action("AddAttendance","Attendance")" method="post">
                <table class="table  table-striped tbl">
                    <tr class="bg-primary text-white">
                        <th># No</th>
                        <th>Emp Name</th>
                        <th>User Name</th>
                        <th>Department</th>
                        <th>InTime</th>
                        <th>OutTime</th>
                        <th>Attendane status</th>
                    </tr>
                    @if (true)
                    {
                        foreach (var item in Model)
                        {

                            <input type="hidden" name="attendance[@rowcount].EmployeId" value="@item.employe.EmployeId" />
                            <tr>
                                <td>@(rowcount + 1)</td>
                                <td>@item.employe.FirstName @getNullorString(item.employe.LastName)</td>
                                <td>@item.employe.UserName</td>
                                <td>@item.employe.department.DepartmentName</td>
                                @if (item.leaves.Count() > 0)
                                {
                                    <td><input disabled value="" name="attendance[@rowcount].InTime" /></td>
                                    <td><input disabled value="" name="attendance[@rowcount].OutTime" /></td>
                                    <td>
                                        <input type="text" name="attendance[@rowcount].Status" value="Leave" style="background:yellow;" />
                                    </td>
                                }
                                else
                                {
                                    if (item.attendance == null)
                                    {
                                        <td><input value="" name="attendance[@rowcount].InTime" /></td>
                                        <td><input value="" name="attendance[@rowcount].OutTime" /></td>
                                        <td>
                                            <input type="radio" value="Present" name="attendance[@rowcount].Status"><p class="text-success d-inline ml-2">Present</p>
                                            <input type="radio" value="Absent" name="attendance[@rowcount].Status" class="ml-2"><p class="text-danger d-inline ml-2">Absent</p>
                                        </td>
                                    }
                                    else
                                    {
                                        if (item.attendance.InTime.HasValue)
                                        {
                                            <td><input value="@item.attendance.InTime.Value.ToShortTimeString()" name="attendance[@rowcount].InTime" /></td>
                                        }
                                        else
                                        {
                                            <td><input value="" name="attendance[@rowcount].InTime" /></td>
                                        }
                                        if (item.attendance.OutTime.HasValue)
                                        {
                                            <td><input value="@item.attendance.OutTime.Value.ToShortTimeString()" name="attendance[@rowcount].OutTime" /></td>
                                        }
                                        else
                                        {
                                            <td><input value="" name="attendance[@rowcount].OutTime" /></td>
                                        }
                                        if (item.attendance.Status == "Present")
                                        {
                                            <td>
                                                <input type="radio" checked value="Present" name="attendance[@rowcount].Status"><p class="text-success d-inline ml-2">Present</p>
                                                <input type="radio" value="Absent" name="attendance[@rowcount].Status" class="ml-2"><p class="text-danger d-inline ml-2">Absent</p>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <input type="radio" value="Present" name="attendance[@rowcount].Status"><p class="text-success d-inline ml-2">Present</p>
                                                <input type="radio" checked value="Absent" name="attendance[@rowcount].Status" class="ml-2"><p class="text-danger d-inline ml-2">Absent</p>
                                            </td>
                                        }
                                    }

                                }

                            </tr>
                            rowcount++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5" class="text-center">@ViewData["message"].ToString()</td>
                        </tr>
                    }

                </table>
        </div>
        <div class="row m-3">

           
            <div class="col-lg-4"></div>
            
            <div class="col-lg-4"></div>
            
            <div class="col-lg-4 col-sm-12">
           
            <button type="submit" class="bg-primary border-0 shadow text-white form-control rounded font-weight-bold mb-3">Submit</button></div>
        </div>
        </form>
</div>


